@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(27, 26, 26);
  background-size: cover; /* Ensures it covers the full screen */
  background-position: center;
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: azure;
}

.bottom-sec {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}
input-sec {
  width: 100%;
  max-width: 650px;
  position: relative;
}

.img-sec {
  background-color: #2e2c2c; /* Light grey background */
  width: 50%; /* Full width */
  min-height: 300px; /* Set a minimum height */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: soft shadow */
  margin: 20px 0;
  padding: 20px;
}

input {
  width: 450px;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  box-sizing: border-box;
}

#submit-btn {
  height: 50px;
  border-radius: 5px;
  color: azure;
  font-weight: bold;
  background-color: rgb(26, 182, 91);
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  display: none; /* Initially hidden */
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.2s ease-in-out;
}
